<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.wchar.donuts.mapper.AccessStatisticsMapper">

    <select id="getTop10Visits" resultType="net.wchar.donuts.model.bo.AccessStatisticsBo">
        select sas.uri,count(sas.uri) as count  from sys_access_statistics sas group by sas.uri
        order by count(sas.uri) desc limit 10
    </select>
    <select id="getTop10Ip" resultType="net.wchar.donuts.model.bo.AccessStatisticsBo">
        select sas.ip,count(sas.ip) as count  from sys_access_statistics sas group by sas.ip
        order by count(sas.ip) desc limit 10
    </select>
</mapper>