<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- header start -->
<head>
    <th:block th:replace="~{fragments/head :: head}"></th:block>
    <link rel="stylesheet" th:href="@{/lib/bootstrap-table/dist/bootstrap-table.min.css}">
    <link rel="stylesheet"
          th:href="@{/lib/bootstrap-table/dist/extensions/fixed-columns/bootstrap-table-fixed-columns.min.css}">
    <link rel="stylesheet" th:href="@{/lib/eonasdan/tempus-dominus/dist/css/tempus-dominus.min.css}"/>
    <link rel="stylesheet" th:href="@{/lib/bootstrap-select/dist/css/bootstrap-select.min.css}">
    <link rel="stylesheet" th:href="@{/lib/ztree/ztree_v3/css/zTreeStyle/zTreeStyle.css}">
    <link rel="stylesheet" th:href="@{/lib/croppie/croppie.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-admin.min.css}">
</head>
<!-- header end -->
<body class="bg-body-tertiary py-3">
<div class="container-fluid">

    <!-- 头像裁剪Modal start-->
    <div class="modal  fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered  modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">[[#{crop.new.avatar}]]</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <div id="croppie-wraper"></div>
                        </div>
                        <div class="col d-none d-sm-block">
                            <div class="d-flex flex-column align-items-center ">
                                <span class="">[[#{preview}]]</span>
                                <img id="preview1" class="mt-3 rounded-circle bsa-wh-100">
                                <span class=" mt-3">100x100</span>
                                <img id="preview2"
                                     class="mt-3 rounded-circle bsa-wh-50">
                                <span class="">50x50</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="file" class="d-none" id="fileinput">
                    <button type="button" class="btn btn-outline-secondary" onclick="selectFile()"
                            data-bs-toggle="tooltip" data-bs-placement="top" th:title="#{select.img}">
                        <i class="bi bi-folder-plus"></i>
                    </button>
                    <button data-deg="90" type="button" class="btn btn-outline-secondary rotate"
                            data-bs-toggle="tooltip" data-bs-placement="top" th:title="#{left.rotate}">
                        <i class="bi bi-arrow-counterclockwise"></i>
                    </button>
                    <button data-deg="-90" type="button" class="btn btn-outline-secondary rotate"
                            data-bs-toggle="tooltip" data-bs-placement="top" th:title="#{right.rotate}">
                        <i class="bi bi-arrow-clockwise"></i>
                    </button>

                    <button id="croppie-result" type="button" class="btn btn-outline-secondary" data-bs-toggle="tooltip"
                            data-bs-placement="top" th:title="#{upload}">
                        <i class="bi bi-cloud-arrow-up"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- 头像裁剪Modal end-->

    <!-- 部门树 start -->
    <div class="modal fade" id="treeModal" tabindex="-1" role="dialog" aria-labelledby="treeModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="treeModalLabel">[[#{select.dept}]]</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul id="treeDemo" class="ztree"></ul>
                </div>
                <div class="modal-footer">
                   <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>-->
                </div>
            </div>
        </div>
    </div>

    <!-- 部门树 end -->

    <div class="card border-0 shadow-sm">
        <div class="card-body">
            <form id="form" autocomplete="off">
                <input type="hidden" name="userId" id="userId">
                <div class="mb-3">
                    <label for="userName" class="form-label">[[#{user.name}]]</label>
                    <input type="text" class="form-control" id="userName" name="userName" th:placeholder="#{please.input.user.name}">
                </div>
                <div class="mb-3">

                    <label for="userPwd">[[#{user.password}]]</label>
                    <div class="input-group">
                        <input type="text" onfocus="this.type='password'" class="form-control" id="userPwd" name="userPwd" th:placeholder="#{please.input.user.pwd}">
                        <div class="input-group-append">
                        <span class="input-group-text" id="toggle-password">
                            <i class="bi bi-eye" id="toggle-password-icon"></i>
                        </span>
                        </div>
                    </div>

                </div>
                <div class="mb-3">
                    <label for="userNick" class="form-label">[[#{user.nick}]]</label>
                    <input type="text" class="form-control" id="userNick" name="userNick" th:placeholder="#{please.input.user.nick}">
                </div>
                <div class="mb-3">
                    <input type="hidden" id="userDeptId" name="userDeptId">
                    <label for="userDeptName" class="form-label">[[#{user.dept}]]</label>
                    <input type="text" class="form-control"  id="userDeptName" style="cursor: pointer" onclick="deptClick()" name="userDeptName" th:placeholder="#{click.select.user.dept}">
                </div>
                <div class="mb-3">
                    <label for="userType-1" class="form-label">[[#{user.origin}]]</label>
                    <div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="userType"
                                   id="userType-1" value="0">
                            <label class="form-check-label" for="userType-1">[[#{inside}]]</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="userType"
                                   id="userType-2" value="1">
                            <label class="form-check-label" for="userType-2">[[#{external}]]</label>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="userEmail" class="form-label">[[#{user.email}]]</label>
                    <input type="email" class="form-control" id="userEmail" name="userEmail" th:placeholder="#{please.input.user.email}">
                </div>
                <div class="mb-3">
                    <label for="userPhone" class="form-label">[[#{phone}]]</label>
                    <input type="text" class="form-control" id="userPhone" name="userPhone" th:placeholder="#{please.input.phone}">
                </div>
                <div class="mb-3">
                    <label for="gender-1" class="form-label">[[#{user.sex}]]</label>
                    <div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="userSex"
                                   id="gender-1" value="0">
                            <label class="form-check-label" for="gender-1">[[#{male}]]</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="userSex"
                                   id="gender-2" value="1">
                            <label class="form-check-label" for="gender-2">[[#{female}]]</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="userSex"
                                   id="gender-3" value="2">
                            <label class="form-check-label" for="gender-3">[[#{unknown}]]</label>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="userAvatar" class="form-label">[[#{user.avatar}]]</label>
                    <input name="userAvatarReal" id="userAvatarReal" type="hidden">
                    <div class="card-body">
                        <img id="userAvatar" th:src="@{/img/avatar.jpg}"
                             class="rounded-circle   bsa-wh-100 bsa-cursor-pointer"
                             data-bs-toggle="modal"
                             data-bs-target="#exampleModal">
                    </div>
                </div>

                <div class="mb-3">
                    <label for="userStatus" class="form-label">[[#{user.status}]]</label>
                    <br>
                    <select name="userStatus" id="userStatus" class="selectpicker">
                        <option value="1">[[#{normal}]]</option>
                        <option value="0">[[#{deactivate}]]</option>
                    </select>
                </div>
                <button type="submit" id="edit-cf" class="btn btn-primary">[[#{save}]]</button>
            </form>
        </div>
    </div>


</div>

<!--回到顶部开始-->
<a href="javaScript:" class="bsa-back-to-top"><i class='bi bi-arrow-up-short'></i></a>
<!--回到顶部结束-->

<script th:src="@{/lib/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/lib/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/lib/formvalidation/js/formValidation.js}"></script>
<script th:src="@{/lib/formvalidation/js/framework/bootstrap.js}"></script>
<script th:src="@{/lib/formvalidation/js/language/zh_CN.js}"></script>
<script th:src="@{/lib/formvalidation/js/language/en_US.js}"></script>
<script th:src="@{/lib/bootstrap-select/dist/js/bootstrap-select.min.js}"></script>
<script th:src="@{/lib/ztree/ztree_v3/js/jquery.ztree.all.min.js}"></script>
<script th:src="@{/lib/croppie/croppie.min.js}"></script>
<script th:src="@{/js/bootstrap-admin.js}"></script>
<script th:src="@{/js/app.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
         const i18n_cropNewAvatar = /*[[#{crop.new.avatar}]]*/ "";
    /*]]>*/
</script>
<script th:src="@{/js/user/add-user.js}"></script>
</body>
</html>
