<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="icon" th:href="@{/img/favicon-32x32.png}" sizes="32x32" type="image/png">
    <link rel="icon" th:href="@{/img/favicon-16x16.png}" sizes="16x16" type="image/png">
    <meta name="keywords" th:content="#{website.keyWorld}">
    <meta name="description" th:content="#{website.description}">
    <meta name="author" th:content="#{website.author}">
    <link rel="stylesheet" th:href="@{/lib/bootstrap-icons/font/bootstrap-icons.min.css}">
    <link rel="stylesheet" th:href="@{/lib/bootstrap/dist/css/bootstrap.min.css}">
    <link rel="stylesheet"  th:href="@{/lib/overlayscrollbars/styles/overlayscrollbars.min.css}">
    <title th:text="#{website.title}"></title>
</head>